@model IEnumerable<FinanceApp.Models.MonthlyBudget>

@{
    ViewData["Title"] = "Index";
}

<h1>Monthly Budget</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<div class="container-fluid">
    <div class="table-responsive">
        <table class="table" style="width: 100%;">
            <thead>
                <tr>
                    <th style="width: 50%;">
                        @Html.ActionLink("Category", "Index", new { sortOrder = ViewBag.CategorySortParm })
                        @if (ViewBag.CategorySortParm == "category_desc")
                        {
                            <i class="fas fa-arrow-down"></i>
                        }
                        else
                        {
                            <i class="fas fa-arrow-up"></i>
                        }
                    </th>
                    <th style="width: 25%;">
                        @Html.ActionLink("Amount", "Index", new { sortOrder = ViewBag.AmountSortParm })
                        @if (ViewBag.AmountSortParm == "amount_desc")
                        {
                            <i class="fas fa-arrow-down"></i>
                        }
                        else
                        {
                            <i class="fas fa-arrow-up"></i>
                        }
                    </th>
                    <th style="width: 25%;">
                        Action
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
